/* body {
	#1E1E1E
	background-image: linear-gradient(to top right, #0D302E, #20121F);
} */

.title {
	font-size: 96px;
	font-family: roboto;
}

#titlewhite {
	color:white;
}
#titleblue {
	background: -webkit-linear-gradient(#FFFEFF, #00D1FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.titlesubtext {
	color: #909090;
	font-size: 32px;
}

.landing {
	display: flex;
}


.landingabt {
	
}
