
<nav class="navbar">
	<div class="row">
		<div class="two column">
			<img src="/images/logo.svg" alt="voxhash logo" class="navbar-logo">
		</div>
		<div class="two column">
			<div>
				<ul class="navbar-list">
					<li class="navbar-item"><a class="navbar-link" href="#">About</a></li>
					<li class="navbar-item"><a class="navbar-link" href="#">Projects</a></li>
					<li class="navbar-item"><a class="navbar-link" href="#">Contact</a></li>
					<li class="navbar-item"><a class="navbar-link" href="#">Volunteer</a></li>
				</ul>
			</div>
		</div>
		<div class="two column">
			<button type="button" class="voxButton navbar-button">Sign In</button>
		</div>
	</div>
</nav>
