
<div class="landing">

	<!-- "Software Made Simple" -->
	<div class="row flexrow">
		<div class="two titletextbox">
			<div class="title row"> Software made <span id="titleblue">simple.</span> </div>
			<div class="row" id="titlesubtext"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut leo ipsum, auctor rhoncus </div>
			<div class="row" id="introbutton"> <button type="button" class="voxButton">Learn More</button> </div>
		</div>
		<div class="four landingflatart"> <img src="/images/flatartwoman.svg" alt="flat art woman" class="langding-art"> </div>
	</div>

	<!-- "Our Projects" -->
	<div class="row flexcolumn" id="ourprojects">
		<span id="row2title"> Our Projects </span>
		<span id="row2subtitle"> A look into what kind of services and work we offer </span>
		<div class="row flexrow" id="projectlist">
			<div class="column box">
				<img src="/images/shadowprotect.svg" alt="Shadow Protect logo" class="icon">
				<h4>Protect Suite</h4>
				<div class="titlesubtext">An advanced multi-platform spam detection service.</div>
				<button type="button" class="greenButton">Learn More</button>
			</div>

			<div class="column box">
				<img src="/images/voxhash.svg" alt="voxhash logo" class="icon">
				<h4>VoxAPI</h4>
				<div class="titlesubtext">Advanced sentiment analysis for detecting spam and other unwanted messages.</div>
				<button type="button" class="greenButton">Learn More</button>
			</div>
	</div>

	<!-- "Get In Touch" -->
	<div class="row flexcolumn" id="getintouch">
		<span id="row2title">Get in touch.</span>
		<span id="row2subtitle">Have a question? Maybe you're just bored and want to talk to us, we're ready to hear from you!</span>

		<div class="row flexrow" id="contactcontainer">
			<div class="column box">
				<form action="#">
					<div class="flexrow">
						<input type="text" name="firstname" placeholder="First Name">
						<input type="text" name="lastname" placeholder="Last Name">
					</div>
					<div class="flexrow">
						<input type="text" name="email" placeholder="E-Mail">
						<input type="text" name="phone" placeholder="Phone Number">
					</div>
					<input type="textarea" name="comment" placeholder="What would you like to talk about?" >
					<div class="flexrow">
						<input type="button" value="Send Message">
					</div>
				</form>
			</div>

			<img src="images/contact.svg" alt="contact graphic" id="contactgraphic">
		</div>
	</div>
</div>