
<div class="landing">
	<div class="row">
		<!-- "Software Made Simple" -->
		<div class="five column">
			<div class="titletextbox">
				<div class="title row">
					<div id="titlewhite">
						Software made
					</div>
					<div id="titleblue">
						simple.
					</div>
				</div>
				<div class="titlesubtext row">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut leo ipsum, auctor rhoncus
				</div>
			</div>
		</div>
		<div class="five column">
			<span class="landingflatart"></span>
		</div>
	</div>
	<div class="row">
		<!-- "Our Projects" -->
	</div>
	<div class="row">
		<!-- "Get In Touch" -->
	</div>
</div>