
<div class="landing">
	<div class="row">
		<!-- "Software Made Simple" -->
		<div class="two titletextbox">
			<div class="">
				<div class="title row">
					Software made <span id="titleblue">simple.</span>
				</div>
				<div class="titlesubtext row">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut leo ipsum, auctor rhoncus
				</div>
			</div>
		</div>
		<div class="four landingflatart">
			<img src="/images/flatartwoman.svg" alt="flat art woman" class="langding-art">
		</div>
	</div>
	<div class="row">
		<!-- "Our Projects" -->
	</div>
	<div class="row">
		<!-- "Get In Touch" -->
	</div>
</div>